<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="css/contact.css">
	
	<title>Contact Us</title>

</head>

<body>

<section>

	<h1>Get In Touch with Molly</h1>

	<div>
		<ul>Instagram: @_mollyjane_</ul>
		<ul>twitter: @mollymitchell15</ul>
		<ul>Email: mollymitchell@gamil.com</ul>
		<ul>Phone: (425)749-0965</ul>
	</div>

	<form method="post">

		<label for="messaget">Message</label>
		<input class="message" type="text" name="message">
		<button type="submit" id="contact">Contact</button>

	</form>

</section>

</body>

</html>