<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/history.css">
	<title>history.erb</title>
</head>
<body>
<div class="parallax1">
	Miss Molly: A History
</div>
<div class="middle">
	<div class="div-one">
		<p>		Molly is one of a kind. She is a wonderful daughter, caring sister, but most of all a fierce friend. She is known for being charasmastic and making the whole room light up with her smile and quick witted humor. She is a very determined person who can do anything she puts her mind to. Everyone who has the pleasure of knowning Molly is witness to the wonderful, thoughtful, strong woman that she embodies.</p>
		
		<p>Molly was born and raised in the outskirts of Chicago, IL. Her family lived in the suburan town of Deerfield until she was 11 when the moved all the way to Seattle, WA where the majority of her family is located and her parents were originally from. The move was one of the best things that happened to Molly and her family as it released them from a cult religion and gave everyone a fresh start.</p>
		
		<p>Molly attend Leota Jr. High where she met her two best friends, Catherine and Bailey. The trio continued on to Woodinville High School and recently graduated in 2015. To this day the three girls are inseperable. Whenever all of them are home from school they spend every waking minute together. Some of their favorite past times include hiking, going to concerts, and above all eating. These girls have an appetite. Very few people have as deep of a relationship with each other as these three childhood friends do.</p>

		<p>		When Molly isn't spending time with Catherine and Bailey she is most likely out playing sports. Her top sport is womens lacrosse. She was the captin of her team, Lake Samm, senior year. The team went to the state championship all three years that Molly was on the team. Unfortunely they lost each year. Molly was also on several select travel teams including PSS and Washington All State. She played other sports during her junior high and high school careers including basketball, soccer, and softball. She qualified for several major schalorships to play lacrosse in college, however she decided that she wanted to end her lacrosse career after her senior year.</p>
	</div>
	<div>
		<img class="img-five" src="images/five.png">
	</div>
</div>
<div class="parallax2">
	
</div>
<div class="parallax3">
	
</div>

</body>
</html>