<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="css/home.css">

	<title>home.erb</title>

</head>

<body>

	<h1>Good Golly Miss Molly</h1>

	<section>

		<% @family.each do |family|%>
			<ul><%= family %></ul>
		<%end%>

	</section>
</body>

</html>