<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="css/home.css">

	<title>home.erb</title>

</head>

<body>

	<h1>Good Golly Miss Molly</h1>

	<video controls >
		<source src="images/molly.ogg" type="video/ogg">
		<source src="images/molly.mp4" type="video/mp4">
		<source id="video"  src="images/molly.webm" type="video/webm">	
	</video>
	
	<section>

		<% @family.each do |family|%>
			<ul><%= family %></ul>
		<%end%>

	</section>


<script type="text/javascript" src="js/script.js"></script>

</body>

</html>