<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="css/home.css">

	<title>home.erb</title>

</head>

<body>
<div class="parallax1">
	Good Golly Miss Molly
</div>
<div class="middle">
<table>
	<td>
		<button id="family">Family</button>
		<div id="fam-members">
			<h1>Family</h1>
			<% @family.each do |family|%>
				<ul><%= family %></ul>
			<%end%>
		</div>
	</td>
	
	<td>
		<video controls >
			<source src="images/molly.ogg" type="video/ogg">
			<source src="images/molly.mp4" type="video/mp4">
			<source src="images/molly.webm" type="video/webm">	
		</video>
	</td>

	<td>
		<button id="squad">Squad</button>
		<div id="squad-members">
			<h1> Squad </h1>
			<% @squad.each do |squad|%>
				<ul><%= squad %></ul>
			<%end%>
		</div>
	</td>
</table>
</div>	

<div class="parallax2"></div>

<div class="parallax3"></div>

<script type="text/javascript" src="js/home.js"></script>

</body>

</html>