<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="css/photos.css">
	
	<title>photos.erb</title>

</head>

<body>

<div class="parallax1">

	Molly's life through photos

</div>
<div class="middle">
    <div>
    	<a href="images/one.jpg">
	    	<figure>
	      		<img class="img-one" src="images/one.jpg">
	      		<figcaption>Molly and best friend Catherine and Mother</figcaption>
	      	</figure>
      	</a>
  
    	<a href="images/two.jpg">
	    	<figure>
	      		<img class="img-two" src="images/two.jpg">
	      		<figcaption>Molly and sister Arleigh</figcaption>
	      	</figure>
      	</a>
 
    	<a href="images/three.png">
	    	<figure>
	      		<img class="img-three" src="images/three.png">
	      		<figcaption>Molly and Mom</figcaption>
	      	</figure>
      	</a>
 
    	<a href="images/four.jpg">
	    	<figure>
	      		<img class="img-four" src="images/four.jpg">
	      		<figcaption>Molly working at Epcot in Walt Disney World</figcaption>
	      	</figure>
      	</a>
    </div>
</div>

<div class="parallax2"></div>

<div class="bottom"></div>

<div class="parallax3"></div>
</body>

</html>