<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="css/photos.css">
	
	<title>photos.erb</title>

</head>

<body>

	<section>

		<h1>Molly's life through photos</h1>

	</section>

	<div class="container">

	  <div class="row text-center">

	    <div class="col-sm-3">
	      <img class="img-one" src="images/one.jpg">
	    </div>

	    <div class="col-sm-3">
	      <img class="img-two" src="images/two.jpg">
	    </div>

	    <div class="col-sm-3">
	      <img class="img-three" src="images/four.jpg">
	    </div>

	    <div class="col-sm-3">
	      <img class="img-four" src="images/three.png">
	    </div>

	  </div>

	 <div class="container">

	  <div class="row text-center">

	    <div class="col-sm-3">
	    	<p>Molly and best friend Catherine and Mother</p>
	    </div>

	    <div class="col-sm-3">
	     	<p>Molly and sister Arleigh</p>
	    </div>

	    <div class="col-sm-3">
	    	<p>Molly working at Epcot in Walt Disney World</p>
	    </div>

	    <div class="col-sm-3">
	     	<p>Molly and Mom</p>
	    </div>

	  </div>

	</div>

</body>

</html>