<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="css/photos.css">
	
	<title>photos.erb</title>

</head>

<body>

<div class="parallax1">

	A life of Photographs

</div>
<div class="middle">

	<section id="photos">

		<img class="img-1" src="images/1.jpg">

		<img class="img-2" src="images/2.jpg">

		<img class="img-3" src="images/3.jpg">

		<img class="img-4" src="images/4.jpg">

		<img class="img-5" src="images/5.jpg">

		<img class="img-6" src="images/6.jpg">

		<img class="img-7" src="images/7.jpg">

		<img class="img-8" src="images/8.jpg">

		<img class="img-9" src="images/9.jpg">

		<img class="img-10" src="images/10.jpg">

		<img class="img-11" src="images/11.jpg">

		<img class="img-12" src="images/12.jpg">

		<img class="img-13" src="images/13.jpg">

		<img class="img-14" src="images/14.jpg">

		<img class="img-15" src="images/15.jpg">
	
	</section>

</div>

<div class="parallax2">
	
	<p>Keep going...there's more!<p>
	<p>.</p>
	<p>.</p>
	<p>.</p>

</div>

<div class="bottom">
	
	<section id="photos">
		
		<img class="img-16" src="images/16.jpg">

		<img class="img-17" src="images/17.jpg">

		<img class="img-18" src="images/18.jpg">

		<img class="img-19" src="images/19.jpg">

		<img class="img-20" src="images/20.jpg">

		<img class="img-21" src="images/21.jpg">

		<img class="img-22" src="images/22.jpg">

		<img class="img-23" src="images/23.jpg">

		<img class="img-24" src="images/24.jpg">

		<img class="img-26" src="images/26.jpg">

		<img class="img-27" src="images/27.jpg">

		<img class="img-28" src="images/28.jpg">

		<img class="img-29" src="images/29.jpg">

		<img class="img-30" src="images/30.jpg">

		<img class="img-31" src="images/31.jpg">

	</section>
</div>

<div class="parallax3"></div>
</body>

</html>