

table{
	margin: auto;
	font-size: 35px;
}
video{
	width:400px;
	height:600px;
}
.middle{
	padding-top: 10px;
	padding-bottom: 10px;
}
td{
	padding: 20px;
}
button{
	margin: 20px;
	font-size: 45px;
}