html,body{
	text-align: center;
	background-image: url("../images/32.jpg");
	color: darkgrey;
}
.navbar {
	position: fixed;
	background-image: url("../images/32.jpg");
	width: 100%;
}
.parallax1{
	background-image: url("../images/seven.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 150px;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
}
.middle{
	background-size: 100%;
    text-align: center;
    background: transparent;
}
.parallax2{
	background-image: url("../images/eight.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
 }
.bottom{
	background-size: 100%;
    text-align: center;
    background: transparent;
}
.parallax3{
	background-image: url("../images/nine.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 150px;
    text-align: center;
    padding-top: 175px;
}
